body {
    width: 100vw;
    background-color: #44475a;
    color: #bd93f9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#topo {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    width: 30rem;
    text-shadow:4px 4px #30323f;
}

form button, form textarea, form {
    box-shadow: 5px 5px 5px #30323f;
}

section {
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    padding: 1rem 0 1rem 0;
}

form button, form textarea {
    margin-top: 1rem;
    display: block;
}

